*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
}
// ::selection {
// 	background: $color-text;
// 	color: #fff;
// }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: $laptop-port) {
    font-size: 55%;
  }
  @media only screen and (max-width: $laptop-port) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-size: 3.2rem;
  line-height: 1.6;
  color: $color-white;
  overflow-x: hidden;
  background-color: $color-primary;
  cursor: none;
}

.row {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 5rem;
}
