h1.heading {
  font-size: 15rem;
  font-weight: 700;
  color: $color-white;
  font-family: $font-secondary;
  line-height: 1.3;
  margin-top: -1rem;
}

h2.heading {
  font-size: 6rem;
  font-weight: 500;
  color: $color-white;
}

h3.heading {
  font-size: 5rem;
  font-weight: 500;
  color: $color-white;
}

h4.heading {
  font-size: 4rem;
  font-weight: 500;
  color: $color-white;
}

.p-text {
  font-size: 2.8rem;
  color: $color-white;
  font-weight: 400;
}

// Typography utils

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;

  &-1,
  &-3 {
    height: 0.2rem;
    width: 20rem;
    background-color: $color-white;
  }

  &-1 {
    transform: translateX(-2rem);
  }

  &-2 {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $color-white;
  }
  &-3 {
    transform: translateX(2rem);
  }
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: $color-light-white;
}

a:link,
a:visited {
  cursor: none;
}

// mixins

@mixin pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin img-size {
  height: 100%;
  width: 100%;
}

@mixin logo-size {
  height: 7rem;
  width: 7rem;

  img {
    @include img-size;
    border-radius: 50%;
  }
}

@mixin text-transparent {
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 2px #dbd8d6;
}

@mixin text-with-wh-bg {
  background-color: $color-white;
  padding: 0.5rem 2rem;
  color: $color-black;
  display: inline-block;
}

@mixin bars-pos {
  position: fixed;
  top: 6rem;
  right: 5rem;
  transform: translateY(-50%);
}
