.cursor {
  position: fixed;
  //   top: 0;
  //   left: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: $color-white;
  z-index: 13;
  mix-blend-mode: difference;
  pointer-events: none;
}
