.header {
  padding-top: 5rem;
  height: 90vh;
  width: 100%;

  &__name {
    transform: translateY(6rem);
  }
  .text-transparent {
    @include text-transparent;
  }

  .text-transparent--1 {
    display: block;
    transform: translateY(6rem);
  }

  .main-text {
  }
}
