.nav {
  padding: 1.5rem 5rem;
  width: 100%;
  background-color: $color-primary;
  position: relative;

  .navbar {
    @include flex-center;
  }

  &__logo {
    @include logo-size;
  }

  .bars-bg {
    height: 2rem;
    width: 2rem;
    background-color: #000;
    @include bars-pos;
    transform: scale(0);
    z-index: 10;
    transition: all 0.5s;
    border-radius: 50%;
  }

  &__bars {
    cursor: pointer;
    background-color: transparent;
    height: 3.5rem;
    width: 5rem;
    @include bars-pos;
    z-index: 11;

    &--1,
    &--2,
    &--3 {
      position: absolute;
      left: 0;
      height: 0.2rem;
      width: 5rem;
      background-color: #fff;
      transition: all 0.3s;
    }

    &--1 {
      top: 0;
    }
    &--2 {
      top: 1.5rem;
    }
    &--3 {
      top: 3rem;
    }
  }
}

.active-sidebar {
  .nav__bars--1 {
    top: 0;
    display: none;
  }
  .nav__bars--2 {
    top: 2rem;
    transform: rotate(45deg);
  }
  .nav__bars--3 {
    top: 2rem;
    transform: rotate(131deg);
  }

  .bars-bg {
    transform: scale(200);
  }

  .sidebar {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}
