.projects {
  padding: 8rem 0;

  &__list {
    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12rem 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__item {
    position: relative;
  }

  h3 {
    @include text-with-wh-bg;
    position: absolute;
    top: -2rem;
    left: -30%;
  }

  h4 {
    @include text-with-wh-bg;
    position: absolute;
    bottom: -2rem;
    right: -30%;
  }

  &__img {
    height: 90vh;
    width: 50vw;

    img {
      @include img-size;
    }
  }
}

// other projects

.other-projects {
  padding: 8rem 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
  }

  &__item {
    border-bottom: 2px solid $color-light-white;
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    background-color: $color-primary;

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../img/project-img-1.jpg);
      background-position: center center;
      background-size: cover;
      padding: 5rem 2.5rem;
    }
  }

  p {
    width: 36%;
  }
}
