.sidebar {
  transform: translateX(-100%);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 0.5s;
  height: 100vh;
  width: 100%;
  transition-delay: 0.5s;

  &__logo {
    @include logo-size;
    position: absolute;
    top: 2rem;
    left: 3rem;
  }

  &__content {
    position: absolute;
    top: 20rem;
    left: 10rem;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__list {
    margin-right: 36%;
  }

  &__item {
    display: block;
  }

  &__link {
    font-size: 6rem;
    font-weight: 500;
    color: $color-light-white;
    transition: all 0.3s;
    // transform: translateX(0);
    display: block;
    cursor: none;

    &:hover {
      color: $color-white;
      //   transform: translateX(1.5rem);
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    &__email {
      display: block;
      font-size: 3.2rem;
      text-transform: lowercase;
      color: $color-white;
    }

    &__number {
      display: block;
      font-size: 3.2rem;
      color: $color-white;
    }

    &__address {
      font-size: 2.2rem;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0 2rem;
    }

    &__item {
    }

    &__link {
    }
  }
}
